<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <h1>Welcome <%= doctor.name %></h1>

    <div class="selectionButtons">
      <button id="button">Unconfirmed Appointments</button>
    </div>
    <script>
    document.getElementById('button').onclick = function function1() {
      <% if (appointment.status === 'unconfirmed') { %>
        <%= appointment.name %>
      <% } %>
    }
      
    </script>
  </body>
</html>
